.idea/
node_modules/
npm-debug.*
tmp/
.tmp/
dist-es5/
dist-es6/
.sw[a-z]
.DS_Store
build/
*.js.map
*.css.map
*.sql
.awcache
ansible_playbook.retry
.data
lerna-debug.log
source-context.json
source-contexts.json
